[submodule "arduino-mk/libraries/Adafruit_MCP9808_Library"]
	path = arduino-mk/libraries/Adafruit_MCP9808_Library
	url = https://github.com/adafruit/Adafruit_MCP9808_Library.git
[submodule "arduino-mk/libraries/Adafruit_HTU21DF_Library"]
	path = arduino-mk/libraries/Adafruit_HTU21DF_Library
	url = https://github.com/adafruit/Adafruit_HTU21DF_Library.git
[submodule "arduino-mk/libraries/--force"]
	path = arduino-mk/libraries/--force
	url = https://github.com/adafruit/Adafruit_MCP9808_Library.git
[submodule "arduino-mk/libraries/Adafruit_SleepyDog"]
	path = arduino-mk/libraries/Adafruit_SleepyDog
	url = https://github.com/adafruit/Adafruit_SleepyDog.git
[submodule "arduino-mk/libraries/SparkFun_SX1509_Arduino_Library"]
	path = arduino-mk/libraries/SparkFun_SX1509_Arduino_Library
	url = https://github.com/sparkfun/SparkFun_SX1509_Arduino_Library.git
[submodule "arduino-netboot-hera"]
	path = arduino-netboot
	url = https://github.com/esmil/arduino-netboot.git
[submodule "arduino-netboot"]
	path = arduino-netboot
	url = https://github.com/esmil/arduino-netboot.git
